<form method="POST" action="/add">
<style>
body{
background-image:url("https://ak5.picdn.net/shutterstock/videos/22506235/thumb/1.jpg?i10c=img.resize(height:160)



");
background-repeat: no-repeat;
background-size:1800px 1000px;
}
</style>
 <div align = "center">
<input type="text" name="title" placeholder="title"><button type="delete">delete</button>

 <div align = "center"><input type="text" name="content" placeholder="content"><button type="delete">delete</button>

 <div align = "center"><input type="text" name="author"  placeholder="author"><button type="delete">delete</button>
 
 <div align = "center"><button type="submit"> Create blog </button>


</form>

{% for blog in blogs %}

    {{blog.title}}
    {{blog.content}}
    {{blog.author}}
{%endfor%}
